*.hdf5
*.mp4
*.jpg
*.png
*.avi
*.dat
*.npy
*.h5
*.pt
ocr
*.zip
*.pyc
*.json
*.index
ckpt*
*.xml
*.iml

checkpoints
checkpoint
tmp
image_classifier
catboost_info
__pycache__
YOLOv5
YOLOv7
.data
*.log

LICENSE*
*.csv