<html>
   <head> <meta charset='utf-8'> </head>
   <body>
      <div>
         <p>
            <img src="{{ url_for('static', filename='image/736962657269616e2d6875736b792d2e6a7067.jpg') }}">
        </p>
        <p>종 : <span>{{breed}} // {{breed_po}} % </span></p>
        <p>나이 : <span>{{age}} {{age_cl}} // {{age_po}} % </span></p>
        <p>적정 활동량 : <span>{{ex}}</span></p>
        <p>적정 사료양 : <span>{{food}} g  </span></p>
        <p>acc스코어_age : <span> {{acc_sc1}} </span></p>
        <p>acc스코어_breed : <span> {{acc_sc2}}  </span></p>
      </div>
   </body
</html>
